@media only screen and (min-width: 1px) {
  .container {
    width: 85%;
    margin: 2% auto;
    border: 1px solid purple;
    overflow: hidden;
    padding: 1%;
    border-radius: 8px;
  }

  .todoList {
    width: 90%;
    margin: auto;
  }
  
  .completedList {
    width: 90%;
    margin: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .todoList {
    width: 40%;
    float: left;
    margin-left: 5%;
  }
  
  .completedList {
    width: 40%;
    float: right;
    margin-right: 5%;
  }

}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.intro {
  text-align: center;
}

form {
  margin-bottom: 50px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputField {
  border: 2px solid purple;
  width: 300px;
  height: 35px;
}

.submitButton {
  margin-left: 25px;
}

.listItem {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px dotted red;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.completeItem {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px dotted green;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.item {
  margin-right: 5px;
}

.completeButton {
  margin-left: auto;
  order: 2;
}

.removeButton {
  margin-left: 10px;
  order: 2;
}

.reverseButton {
  margin-left: auto;
  order: 2;
}