.container {
  width: 95%;
  margin: 2% auto;
}


@media only screen and (min-width: 768px) {
  .container {
    width: 70%;
    margin: 2% auto;
    border: 1px solid purple;
    padding: 1%;
  }
}


@media only screen and (min-width: 1000px) {
  .container {
    width: 60%;
    margin: 2% auto;
    border: 1px solid purple;
    padding: 1%;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 50%;
    margin: 2% auto;
    border: 1px solid purple;
    padding: 1%;
  }
}

h1 {
  text-align: center;
}